.nav-menu-container {
  width: 100vw;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: inherit;
  display: grid;
  grid-template-columns:repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
}

.nav-menu-close-container {
  grid-area: 1 / 6 / 2 / 7;
  text-align: center;
}

.nav-item-list {
  grid-area: 3 / 1 / 8 / 7;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.nav-item {
  width: 100%;
  text-align: center;
  color: #c2c2c2b7;;
  padding: 4rem 0rem 4rem 0rem;
  font-size: 6vw;
  font-family: Poppins-Regular;
  cursor: pointer;
  
}

.nav-item:hover {
  color: #ffffff;

}

